################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SUnit/v16/Server/sqlite3/db.lock
/.vs/SUnit/v16/Server/sqlite3/storage.ide
/.vs/SUnit/v16/Server/sqlite3/storage.ide-wal

.vs/SUnit/v16/.suo
*.testlog
